@using Microsoft.AspNetCore.Identity
@model IdentityRole

<h2>Delete Role</h2>

@if (ViewData.ModelState.ContainsKey(""))
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState[""].Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
